@charset "UTF-8";
@font-face {
    font-family: Metal;
    src: url("../font/CloisterBlack.ttf");
}

/*Box Sizing*/

* {
    box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}

@media only screen and (max-device-width: 500px) {
	#datos h2{
		display:none;
	}
	header {
		display:none;
	}
	body{
		margin-top:10%;
	}
	.box p {
		display: block;
		margin:2%;
		
	}
	div.box {
		margin-left:10%;
		width:80%;
	}
	
	#nombres p{
		clear:both;
		text-align:center;
	}
	h2 {
		position:relative;
		text-align:center;
		margin-bottom:0%;
		margin-top:0%;
	}

	img.foto#profile{
		margin-left:20%;
		margin-right:20%;
		width:60%;	
		border-radius: 50%;
		object-fit:cover;
		height:60%;
	}
	img#uni,img#cole {
		width:100%;
	}
	div.box-group {
		width:100%;
		max-width:1200px;
		margin-left:0pt;
	}
	.row::after {
		content:"";
        display:table;
        clear:both;
		width:100%;
	}
	[class*='col-'] {
        float: left;
        min-height: 1px;
		width: 8.33%;
		padding: 12px; 
    }
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	.box {
		background-color:#BBDEFB;
		border-radius:1em;
	}
	.head {
		background-color:white;
		overflow:auto;
		border-radius:1em;
		border:1px solid black;
		margin-top:-30%;
		padding:0.5em;
	}
	.separador {
		display:none;
	}
	.contenido {
		overflow:auto;
		clear:both;
		padding:0.5em;
		text-align:center;
	}
	div.habilidad{
		display:inline-flex;
		clear:both;
	}

}
